@use './__variables.scss' as *;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 150px;
  }

  header,
  footer {
    padding: 10px 0;
    color: $color-primary;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
  }

  header {
    border-bottom: 1px solid $color-gray-light;
  }

  footer {
    border-top: 1px solid $color-gray-light;
  }
}
