@import '../../__variables.scss';

.ui-modal {
  &:open {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: $color-primary-light;
    border: 2px solid $color-primary;
    border-radius: $border-radius;

    &::backdrop {
      background-color: $backdrop-color;
    }
  }
}
